main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}


.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.board-block {
    border: 3px solid gray;
    width: 30px;
    height: 30px;
}